.information_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.item_container {
    flex-direction: row;
    align-items: baseline;
    justify-items: baseline;
}